body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.pergunta {
    margin-bottom: 20px;
}

.escala {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    text-align: center;
}

.escala input[type="radio"] {
    display: none;
}

.escala label {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota0 { background-color: #FF0000; }
.nota1 { background-color: #FF3300; }
.nota2 { background-color: #FF6600; }
.nota3 { background-color: #FF9900; }
.nota4 { background-color: #FFCC00; }
.nota5 { background-color: #FFFF00; }
.nota6 { background-color: #CCFF33; }
.nota7 { background-color: #99FF33; }
.nota8 { background-color: #66FF33; }
.nota9 { background-color: #33FF33; }
.nota10 { background-color: #00CC00; }

.escala input[type="radio"]:checked + label {
    border: 2px solid gray;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#avaliacao {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#avaliacao:hover {
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
}

.anonimato {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-top: 10px;
}

#mensagemErro {
    display: none;
    color: red;
    margin: 10px 0;
}
.mensagem-sucesso {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}

.pergunta {
    text-align: center;
}